__pycache__/
config/
models/
downloads/
mlruns/
.ipynb_checkpoints
.pytest_cache
.coverage
.vscode/
data/
*.csv
**/*.exclude.*
exclude/
tmp/
.idea/
.env
**/.DS_Store
apicache-py3/
throttle.ctrl
logs/
default.sqlite
lib/
site/
backups/
*.egg-info/
notebooks.exclude/