You are given a URL and an action to perform.

URL:
{{ url }}

Action:
{{ action }}

Fetch the page content using `fetch_url_content({url: "{{ url }}"})`
and then perform the described action using only the retrieved content.