<label>
{{ label }}
</label>

<keywords>
{{ keywords }}
</keywords>

<description>
{{ description }}
</description>

<domains>
{{ domains }}
</domains>

<recurrence>
Only information published from one {{ recurrence }} ago to {{ time }} is allowed.
</recurrence>

All the content generated should be in {{ language }}.